:root{
    --DB-introbackground: hsl(217, 28%, 15%);
    --DB-mainBg: hsl(218, 28%, 13%);
    --DB-footerbg: hsl(216, 53%, 9%);
    --DB-testimonials-bg: hsl(219, 30%, 18%);
    --Cyan-call-to-action-gradient: hsl(176, 68%, 64%);
    --Blue-call-to-action-gradient: hsl(198, 60%, 50%);
    --Light-Red: hsl(0, 100%, 63%);
    --White: hsl(0, 0%, 100%);
}

body{
    Font-size: 14px;
    font-family: 'Raleway', sans-serif;
    background: var(--DB-introbackground);
}

header{
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li a{
    color: var(--White);
    margin: 0 30px 0 0 ;
    font-size: 1.2rem;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}
.content {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
} 
.content img { 
    margin-top: 70px;
}

.content h1{
    color: var(--White);
    font-size: 2.1rem;
    padding: 25px 0;
    text-align: center;
}

.content p {
    color: var(--White);
    padding: 0 20px;
    font-size: 1.2rem;
    text-align: center;
}

.Hero{
    background-image: url(/images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.content .btn-container {
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.btn {
    background: var(--Blue-call-to-action-gradient);
    text-align: center;
    width: 40%;
    border-radius: 100px;
    padding: 15px 0;
}
.btn a {
    text-decoration: none;
    color: var(--White);
}

/* ***************CARD NAVIGATION ************** */
.body-bg {
    background: var(--DB-mainBg);
}
.card-holder{
    display: flex;
    padding: 0 120px 100px 120px;
}

.card-holder .card {
    flex: 1;
    text-align: center;
    margin: 0 100px;
    color: var(--White);
}
.product {
    padding-top: 100px;
    display: flex;
    align-items: center;
    gap: 90px;
}
.caption{
    color: var(--White);
}
.caption h1 {
    font-size: 2.1rem;
    letter-spacing: 1px;
}
.caption p {
    font-size: 1.1rem;
    line-height: 20px;
}

.caption .link a {
    border-bottom: 1px solid var(--Blue-call-to-action-gradient);
    padding-bottom: 10px;
    color: var(--Blue-call-to-action-gradient);
    text-decoration: none;
    font-size: 1.1rem;
}


/* ****************COMMENT ************* */
.flex {
    display: flex;
    gap: 40px;
    position: absolute;
    top: 30px;
    left: 10px;
}

.review {
    padding-top: 150px;
    padding-bottom: 200px;
}
.review .container{
    position: relative;
}

.review-card {
    background: var(--DB-testimonials-bg);
    color: var(--White);
    padding: 25px;
}

.review-card p{
    line-height: 20px;
}
.client img{
    width: 15%;
    height: 15%;
    border-radius: 100px;
}
.client {
    display: flex;
    margin-top: 25px;
    gap: 20px;
}
.c-details h3, p{
    padding: 0;
    margin: 0;
}

@media (max-width: 1000px) {
    .content{
        width: 90%;
    }
    .product{
        flex-direction: column;
    }
    .product > img{
        width: 100%;
    }
    .flex{
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
    }
    .card-holder {
        flex-direction: column;
    }
    .card-holder .card{
        margin: 0;
    }
    .card-holder .first-card{
        margin-bottom: 90px;
    }
    
}

@media (max-width: 600px) {
    body{
        font-size: 12px;
    }
    header img{
        width: 10%;
        height: 10%;
    }
    .card-holder{
        width: 80%;
        padding: 0 0 70px 0;
        margin: 0 auto;
    }
    .container{
        width: 95%;
    }
    /* .nav ul li a{
        font-size: 12px;
    } */

    
}